<footer>
    <div class="container">
        <img src="./assets/img/logo.png" alt="Logo" />
    </div>
    <div class="container spalten">
        <div>
            <p><small>&copy; 2025 Projekt M Immobilien GmbH</small></p>
        </div>
        <div class="nav">
            <div><a href="#neuer">Rüdiger Neuer</a></div>
            <div><a href="#team">Team</a></div>
            <div><a href="#leistungen">Leistungen</a></div>
            <div><a href="#faq">FAQ</a></div>
            <div><a href="#immobilienangebote">Immobilienangebote</a></div>
            <div><a href="#nachhaltigkeit">Umweltschutz</a></div>
            <div><a href="impressum.html">Impressum</a></div>
            <div><a href="datenschutz.html" aria-current="page">Datenschutz</a></div>
        </div>
        <div>
            <address>
                <p>Projekt M Immobilien GmbH</p>
                <p>Krumbacherstraße 5<br />80798 München</p>
            </address>
        </div>
        <div>
            <p>
                Telefon <a href="tel:+498928806768">089 28806768</a><br />
                FAX 089 28806757
            </p>
            <p>E-Mail <a href="mailto:info@pmimmo.de">info@pmimmo.de</a></p>
        </div>
    </div>
</footer>
