<nav>
    <button id="nav-toggle-btn" class="nav-toggle-button" aria-label="Menü öffnen" aria-controls="primary-menu" aria-expanded="false" type="button">
        <span class="bars"></span>
    </button>
    <div class="container">
        <div id="primary-menu" class="nav nav-menu">
            <a href="index.html#neuer">Rüdiger Neuer</a>
            <a href="index.html#team">Team</a>
            <a href="index.html#leistungen">Leistungen</a>
            <a href="index.html#faq">FAQ</a>
            <a href="index.html#immobilienangebote">Immobilienangebote</a>
            <a href="index.html#nachhaltigkeit">Umweltschutz</a>
        </div>
        <div class="logo">
            <a href="index.html">
                <img src="./assets/img/logo.png" alt="Projekt M Immobilien GmbH – Logo" />
            </a>
        </div>
    </div>
</nav>
